# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Runtime data
.DS_Store
Thumbs.db

# Optional npm cache & logs
.npm
.npmrc

# IDE specific files
.idea/
.vscode/
*.swp
*.swo